body {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .1)), url("/img/lava-abstract-formation-8k-oc-5120x2880.jpg");
    -webkit-background-size: 100%;
    background-size: cover;
    font-family: sans-serif;
    color: rgba(206, 29, 84, 0.7);
    text-align: center;
    backdrop-filter: blur(50px);
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(206, 29, 84, 0.2);
    text-transform: uppercase;
    border-radius: 20px;
}


.btn{
    padding: 10px;
    width: 50%;
    color: rgba(206, 29, 84, 0.5);
    font-size: 20px;
    background: none;
    outline: none;
    border: 5px solid rgba(206, 29, 84, 0.2);
    border-radius: 30px;
    box-sizing: border-box;
}


.text-form {
    padding: 10px;
    width: 90%;
    color: rgba(206, 29, 84, 0.5);
    font-size: 20px;
    background: none;
    outline: none;
    /*border: 5px solid rgba(206, 29, 84, 0.2);*/
    border-radius: 30px;
    box-sizing: border-box;
}

.textarea {
    padding: 10px;
    width: 90%;
    color: rgba(206, 29, 84, 0.5);
    font-size: 20px;
    background: rgba(206, 29, 84, 0.2);
    outline: none;
    border: 5px solid rgba(206, 29, 84, 0.2);
    border-radius: 30px;
    box-sizing: border-box;
}


